<%- include('partials/header.ejs')%>

<div class="container">

	<div class="jumbotron">
		<h1>goInspect</h1>
		<p></p>
		<h4>You're personal onsite assistant</h4>

		<% if(!currentUser){ %>
			<a class="btn btn-primary btn-lg" href="/login">Login</a>
		<% } else { %>
			<a class="btn btn-primary btn-lg" href="/inspections">View Surveys</a>
		<% } %>

	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="well">
			  Logging and Reporting whilst on site.
			</div>
		</div>

		<div class="col-lg-6">
			<div class="well">
			  Defects, snagging lists, handovers.
			</div>
		</div>
	</div>

</div>

<%- include('partials/footer.ejs')%>