<%- include('partials/header') %>
<div class="container">

	<div class="jumbotron">
		<h1>Survey Selection</h1>
	</div>

	<div class="col-lg-6">
	    <div class="bs-component">
	      <div class="panel panel-default">
	        <div class="panel-heading">New Survey</div>
	        <div class="panel-body"><a href="/preservation">Preservation Survey</a></div>
	      </div>
	    </div>
  	</div>

  	<div class="col-lg-6">
	    <div class="bs-component">
	      <div class="panel panel-default">
	        <div class="panel-heading">Saved Surveys</div>
	        <div class="panel-body"><a href="/index">Preservation Surveys</a></div>
	      </div>
	    </div>
  	</div>

	<%- include('partials/footer') %>
</div>